{% extends 'base.html' %} 
{% load static %} 

{% block title %}
  <title>Sign In - Elastos Nucleus</title>
{% endblock title %}


{% block content %}
<div class="row align-items-center justify-content-center">
  <div class="col-md-8">
    <div class="card-header text-center">
      Got an idea for a new service to add to the console? Let<br />
      us know! Fill out the form at the bottom about what would you<br />
      like to see on the console, or head over to our official 
      <a href="https://github.com/cyber-republic/elastos-nucleus" target="blank"
        >Github</a
      >
    </div>
    <div class="card-body text-center">
      <p>placeholder</p>
    </div>
    <div class="card-body text-center">
      <p class="text-muted">
        placeholder
      </p>
    </div>
  </div>
</div>
{% endblock %}