container_commands:
  01_migrate:
    command: "python manage.py migrate"
    leader_only: true
  02_collectstatic:
    command: "python manage.py collectstatic --noinput"

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "console_main.settings"
    PYTHONPATH: "$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "console_main/wsgi.py"
    StaticFiles: "/static/=www/static"
  - option_name: "SECRET_KEY"
    value: "Placeholder"
  - option_name: "DEBUG"
    value: "Placeholder"
  - option_name: "SUPERUSER_USER"
    value: "Placeholder"
  - option_name: "SUPERUSER_PASSWORD"
    value: "Placeholder"
  - option_name: "ALLOWED_HOSTS"
    value: "Placeholder"
  - option_name: "SIGNING_KEY"
    value: "Placeholder"
  - option_name: "SIGNING_SALT"
    value: "Placeholder"
  - option_name: "APP_URL"
    value: "Placeholder"
  - option_name: "ELA_PUBLIC_KEY"
    value: "Placeholder"
  - option_name: "ELA_DID"
    value: "Placeholder"
  - option_name: "ELA_APP_NAME"
    value: "Placeholder"
  - option_name: "ELA_APP_ID"
    value: "Placeholder"
  - option_name: "EMAIL_USE_TLS"
    value: "Placeholder"
  - option_name: "EMAIL_HOST"
    value: "Placeholder"
  - option_name: "EMAIL_HOST_USER"
    value: "Placeholder"
  - option_name: "EMAIL_HOST_PASSWORD"
    value: "Placeholder"
  - option_name: "EMAIL_PORT"
    value: "Placeholder"
  - option_name: "PRODUCTION"
    value: "Placeholder"
  - option_name: "SHARED_SECRET_ADENINE"
    value: "Placeholder"
  - option_name: "GRPC_SERVER_HOST"
    value: "Placeholder"'"
  - option_name: "GRPC_SERVER_PORT"
    value: "Placeholder"

packages:
  yum:
    postgresql11-devel: []